<div class="container">
    <div class="row justify-content-center">

        {{#with event}}
        <div class="col-8">
            <div class="mb-3">
                <label for="creator-input" class="form-label">Organized by:</label>
                <input type="text" class="form-control" id="creator-input" aria-describedby="name-input" name="creator"
                    value="{{creator.name}}" disabled>
            </div>

            <div class="mb-3">
                <label for="participants-input" class="form-label">Participants:</label>

                <ul>
                    {{#each participants}}
                    <li>
                        <p>{{name}}, a {{age}} year/s old {{species}}.</p>
                    </li>
                    {{/each}}
                </ul>

            </div>
            {{!-- HABRIA QUE DIFERENCIAR AQUÍ ACTIVITY DE DESCRIPTION NO? --}}
            <div class="mb-3">
                <label for="activity" for="description" class="form-label">Activity: {{activity}}</label>

                <textarea name="activity, description" id="activity, description" cols="30" rows="10"
                    class="form-control" disabled>
                    {{description}}</textarea>
            </div>

            <div class="mb3">
                <label for="location" class="form-label">Location: {{location}}</label>
                {{!-- <map></map>??? --}}
            </div>

            {{/with}}

            {{#unless isEnroled}}
            <form action="/events/{{pet_id}}/details/{{event_id}}/join" method="post">
                <button type="submit" class="btn btn-primary">Join</button>
            </form>
            {{else}}
            <form action="/events/{{pet_id}}/details/{{event_id}}/quit" method="post">
                <button type="submit" class="btn btn-primary">Quit</button>
            </form>
            {{/unless}}

            {{#if errorMessage}}
            {{errorMessage}}
            {{/if}}

        </div>

    </div>
</div>