<div class='col-8'>
    <h1>Events:</h1>
    <ul>
        {{#each events}}
        <a href="/events/{{_id}}" class="event-item">
            <li>
                <h3>Event: {{activity}}</h3>
                <p>Description: {{description}}</p>
                <p>{{eventDate}}</p>


                {{!-- <form action="/events/{{../pet_id}}/details/{{_id}}" method="GET">
                    <button type="submit" class="btn btn-custom">See Details</button>
                </form> --}}
            </li>
        </a>
        {{/each}}
    </ul>
</div>

{{!-- Formulario de busqueda --}}
<form class="col-4 container-fluid" action="/events" method="GET">
    <div class="row g-0">

        <div class="mb-3 col-12">
            <label for="search-input" class="form-label">Search</label>
            <input type="text" class="form-control" id="search-input" aria-describedby="search-input" name="searchText">
        </div>

        {{!--
        <div class="mb-3">
            <label class="mr-sm-2 sr-only" for="creator-input">Creator</label>
            <select class="custom-select mr-sm-2" id="creator-input" name="creator">
                {{#each pets}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div> --}}

        <div class="mb-3 col-12 container-fluid">
            <label class="form-label row g-0">Location
                <input type="number" name="latitude" placeholder="Latitude" class="form-control col-6">
                <input type="number" name="longitude" placeholder="Longitude" class="form-control col-6">
            </label>
        </div>

        <div class="mb-3 col-12">
            <label for="date-input" class="form-label">Date:</label>
            <input type="date" class="form-control" id="date-input" aria-describedby="date-input" name="date">
        </div>

        <button type="submit" class="btn btn-custom col-12">Search</button>

        {{#if errorMessage}}
        <div class="error col-12">{{errorMessage}}</div>
        {{/if}}

    </div>
</form>