<div class="container">

    <div class="row justify-content-center">

        <div class='col-8 container-fluid'>
            <ul class="row g-1 ">
                {{#each pets}}
                <a href="/pets/{{_id}}" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <li class="pet-item">
                        <h3>{{name}}</h3>
                        <p>{{description}}</p>
                        {{!-- <form action="/pets/{{_id}}" method="GET">
                            <button type="submit" class="btn btn-custom">Enter</button>
                        </form> --}}
                    </li>
                </a>
                {{/each}}
            </ul>
        </div>

        <form class="col-4 container-fluid" action="/pets" method="GET">
            <div class="row g-0">

                <div class="mb-3 col-12">
                    <label for="name-input" class="form-label"><span>Name</span></label>
                    <input type="text" class="form-control" id="name-input" aria-describedby="name-input" name="name">
                </div>

                {{!-- Description, podemos usar match para que renderice resultados que coincidan con keywords buscadas
                --}}

                <div class="mb-3 col-12">
                    <label for="species-input" class="form-label"><span>Species</span></label>
                    <input type="text" class="form-control" id="species-input" name="species">
                </div>

                {{!-- Address model¿? --}}
                <div class="mb-3 col-12 container-fluid">
                    <label class="form-label row g-0 address-block"><span>Address</span>
                        <label class="form-label">Street</label>
                        <input type="text" class="form-control col-12" id="street-input" name="street">
                        <label class="form-label">Postal</label>
                        <input type="text" class="form-control col-12" id="postal-input" name="postal">
                        <label class="form-label">Number</label>
                        <input type="number" class="form-control col-12" id="number-input" name="number">
                        <label class="form-label">Country</label>
                        <input type="text" class="form-control col-12" id="country-input" name="country">
                        <label class="form-label">City</label>
                        <input type="text" class="form-control col-12" id="city-input" name="city">
                    </label>
                </div>

                <div class="mb-3 col-12">
                    <label for="age-input" class="form-label"><span>Age</span></label>
                    <input type="text" list="tickmarks" id="age-input" name="age">
                </div>

                <div class="mb-3 col-12">
                    <label for="gender-input" class="form-label"><span>Gender</span></label>
                    <select name="gender" id="gender-input" class="form-control">
                        <option value="UNDEFINED">UNDEFINED</option>
                        <option value="MALE">MALE</option>
                        <option value="FEMALE">FEMALE</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-custom col-12">Search</button>

                {{#if errorMessage}}
                <div class="error col-12">{{errorMessage}}</div>
                {{/if}}

            </div>
        </form>

    </div>
</div>