<div class="container">
    <div class="row justify-content-center">

        <div class="col-6">
            <h2>Details</h2>

            {{#with pet}}
            {{!-- <img src='{{profile_img}}' alt="profile image"> --}}
            <h3>{{name}}</h3>
            <p>{{description}}</p>
            <p>{{species}}</p>

            <p>Country: {{address.country}}</p>
            <p>City: {{address.city}}</p>

            <p>Age: {{age}}</p>
            <p>Gender: {{gender}}</p>

            {{#if ../isMod}}
            <form action="/pets/{{_id}}/edit" method="GET">
                <button type="submit">Edit</button>
            </form>

            <form action="/pets/{{_id}}/delete" method="POST">
                <button type="submit">Delete</button>
            </form>
            {{/if}}
            <form action="/pets/{{_id}}/contact" method="GET">
                <button type="submit">Contact</button>
                {{/with}}
            </form>
        </div>
      


            {{#if errorMessage}}
            {{errorMessage}}
            {{/if}}


        </div>
    </div>
</div>