<div class="col-6 container-fluid">
    <div class="row g-0 gy-2">

        <a href="/pets" class="btn btn-light col-3 ">Go back</a>

        {{#with pet}}
        <div class="col-12 text-align-center">
            <img src='{{profile_img}}' alt="profile image" class="col-12 social-details-img">
        </div>

        <div class="col-12">
            <h2>{{name}}</h2>

            <label><span>Description</span></label>
            <p class="description-block">{{description}}</p>

            <p>Species: {{species}}</p>

            <label class="address-block full-width"><span>Address</span>
                <p>Country: {{address.country}}</p>
                <p>City: {{address.city}}</p>
            </label>

            <p>Age: {{age}}</p>
            <p>Gender: {{gender}}</p>
        </div>

        <h3>Rating</h3>
        <div class="container-fluid">
            <div class="row g-3">
                <p class="starability-result col-6" data-rating="{{../rating}}">
                    Rated: {{../rating}} stars
                </p><span class="col-6">({{reviews.length}})</span>
            </div>
        </div>

        {{#unless ../isMod}}
        <form action="/pets/{{_id}}/contact" method="GET">
            <button type="submit" class="btn btn-custom full-width col-12">Contact</button>
        </form>

        {{#unless ../hasReview}}
        <form action="/pets/{{_id}}/review" method="GET">
            <button type="submit" class="btn btn-custom full-width col-12">Review</button>
        </form>
        {{/unless}}

        {{else}}


        <form action="/pets/{{_id}}/reviews" method="GET">
            <button type="submit" class="btn btn-custom full-width col-12 col-md-4">Reviews</button>
        </form>


        <form action="/pets/{{_id}}/edit" method="GET">
            <button type="submit" class="btn btn-custom full-width col-12 col-sm-6 col-md-4">Edit</button>
        </form>

        <form action="/pets/{{_id}}/delete" method="POST">
            <button type="submit" class="btn btn-warning full-width col-12 col-sm-6 col-md-4">Delete</button>
        </form>
        {{/unless}}



        {{/with}}

        {{#if errorMessage}}
        <div class="error col-12">{{errorMessage}}</div>
        {{/if}}

    </div>
</div>