<div class="container">
    <div class="row justify-content-center">

        <div class="col-8">
            <h2>Details</h2>

            {{#with pet}}
            <img src={{profile_img}} alt="profile image">
            <h3>{{name}}</h3>
            <p>{{description}}</p>
            <p>{{species}}</p>
            <p>Street: {{address.street}}</p>
            <p>Postal: {{address.postal}}</p>
            <p>Number: {{address.number}}</p>
            <p>Country: {{address.country}}</p>
            <p>City: {{address.city}}</p>
            
            <p>Age: {{age}}</p>
            <p>Gender: {{gender}}</p>

            <form action="/profile/{{_id}}/edit" method="GET">
                <button type="submit">Edit</button>
            </form>

            <form action="/profile/{{_id}}/delete" method="POST">
                <button type="submit">Delete</button>
            </form>
            {{/with}}

        </div>
    </div>
</div>