{{#with pet}}
<div class="col-8 container-fluid">
    <div class="row g-0 gy-2 justify-content-center">

        <div class="col-10 container-fluid">
            <div class="row g-2 gy-2 justify-content-between">
                <form action="/profile" method="GET" class="col-12 col-sm-6">
                    <button type="submit" class="btn btn-light full-width ">Go back</button>
                </form>

                <form action="/pets" method="GET" class="col-12 col-sm-6">
                    <button type="submit" class="btn btn-custom full-width ">Social</button>
                </form>

                <form action="/events" method="GET" class="col-12 col-sm-6">
                    <button type="submit" class="btn btn-custom full-width">See all events</button>
                </form>

                <form action="/events/add" method="GET" class="col-12 col-sm-6">
                    <button type="submit" class="btn btn-custom full-width">Create event</button>
                </form>
            </div>
        </div>

        <div class="col-10 profile-details-container">

            <img src='{{profile_img}}' alt="profile image" class="col-12 profile-details-img">

            <h2>{{name}}</h2>

            <label><span>Description</span></label>
            <p class="description-block">{{description}}</p>

            <p><strong>Species:</strong> {{species}}</p>

            <label class="address-block full-width margin-bottom-2"><span>Address</span>

                <label class="form-label full-width margin-bottom-2">Street</label>
                <input type="text" class="form-control col-12 addressInput" id="street-input" name="street"
                    value='{{address.street}}' readonly>
                <label class="form-label">Postal</label>
                <input type="text" class="form-control col-12 addressInput" id="postal-input" name="postal"
                    value='{{address.postal}}' readonly>
                <label class="form-label">Number</label>
                <input type="number" class="form-control col-12 addressInput" id="number-input" name="number"
                    value='{{address.number}}' readonly>
                <label class="form-label">Country</label>
                <input type="text" class="form-control col-12 addressInput" id="country-input" name="country"
                    value='{{address.country}}' readonly>
                <label class="form-label">City</label>
                <input type="text" class="form-control col-12 addressInput" id="city-input" name="city"
                    value='{{address.city}}' readonly>

                {{!-- MAP --}}
                <div id="petDisabledMap" class="col-12 map"></div>

            </label>

            <p><strong>Age:</strong> {{age}}</p>
            <p><strong>Gender:</strong> {{gender}}</p>
        </div>

        {{!-- <form action="/profile/{{_id}}/edit" method="GET">
            <button type="submit" class="btn btn-custom full-width col-12 col-sm-6 col-md-5">Edit</button>
        </form>

        <form action="/profile/{{_id}}/delete" method="POST">
            <button type="submit" class="btn btn-warning full-width col-12 col-sm-6 col-md-5">Delete</button>
        </form> --}}

        {{#if ../errorMessage}}
        <div class="error col-12">{{../errorMessage}}</div>
        {{/if}}
    </div>
</div>

<div class="col-4 container-fluid">
    <a href="/messages">
        <h3>Centro de mensajes</h3>
    </a>

    <ul class="row">
        {{#each messages}}
        <div class="col-12">
            <a href="/messages/{{_id}}">
                <li class="message-item">
                    <p>Send by: <span class="origin-name">{{origin.name}}</span></p>
                    <p>{{body}}</p>
                    <p>At: {{date}}</p>
                </li>
            </a>
        </div>

        <hr>
        {{/each}}
    </ul>


</div>
{{/with}}


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="../../js/scriptmap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{MAPS_KEY}}&callback=initGeocoderDisMap"></script>